@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --background-color: #f0f6ff;
  --Linkbrary-primary-color: #6d6afe;
}

body {
  background-color: var(--background-color);
  font-family: Pretendard, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@layer components {
  #__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: inherit;
  height: inherit;
}
